.body-div1{
    width: 43%;
    height: 300px;
    display: inline-flex;
    padding: 3%;
    margin: 3%;
    border-radius: 10px;
    background-color: #1f2523;
}

.div1-text1{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: white;
    background-color: transparent;
}
.div1-text2{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: white;
    background-color: transparent;

}
.button{
    width:95%;
    height: 20%;
    background-color: #08ffa3;
    border: 0;

}
.button-text{
    text-align: center;
    color: black;
}
.body-div2{
    width:94%;
    height:20%;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color:#1f2523;
}
.div2-text{

    color: white;
    text-align: center;
    border-style: solid;
    border-color: #08ffa3;
    width: 18%;
    display: inline-block;
    margin-left:25% ;
}
.div2-text2{
    color: white;
    text-align: center;
    border-style:solid;
    width: 15%;
    margin-left:16% ;
    display: inline-block;
}
.body-div3{
    width:94%;
    margin: 2%;
    padding: 10%;
    border-radius: 10px;
    background-color:#1f2523;
}
