.body-div1{
    width: 43%;
    height: 300px;
    display: inline-flex;
    padding: 3%;
    margin: 3%;
    border-radius: 10px;
    background-color: #1f2523;
}

.div1-text1{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: white;
    background-color: transparent;
}
.div1-text2{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: white;
    background-color: transparent;
}
.body-div2{
    width:94%;
    height:0;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color:#1f2523;
}
.div2-text{
    display: inline;
    color: white;
    text-align: center;
}
.div2-text2{
    display: inline;
    color: white;
    text-align: center;
}
.body-div3{
    width:94%;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color:#1f2523;
}
.button{
    width:95%;
    height: 20%;
    background-color: #08ffa3;
    margin: 30%;
    border: 0;

}
.button-text{
    text-align: center;
    color: black;
}